connector/unicorn_examples/event_type.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="ProcessmakerEvent.xsd" targetNamespace="ProcessmakerEvent.xsd" elementFormDefault="qualified">
  <xs:element name="ProcessmakerEvent">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="AppUid" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="Timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>